{{#expect availableShows }}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Streamey</title>
  <link rel="icon" type="image/svg" href="/favicon.svg">
  <style>
    body{
      margin: 0 auto;
      padding: 1rem;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
    }
    .show_card{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      margin-right: .5rem;
    }
    .show_card:hover {
      box-shadow: 0 16px 36px 0 rgba(0,0,0,0.2);
    }
    .container {
      padding: 2px 16px;
    }
  </style>
</head>
<body>
  <div style="display: flex;">
  {{#each availableShows as show}}
    <div class="show_card">
      <a href="/show/{{show}}" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
        <img src="/{{show}}/thumbnail.jpeg">
        <div class="container">
            {{ show }}
        </div>
      </a>
    </div>
  {{/each}}
  </div>
</body>